<div class="header">
  <h1>GIUSEPPINA</h1>
  <h2 class="surname">GIORDANO</h2>

  <div class="menu">
    <ul>
      <li><a class="menu-item" routerLink="/home" routerLinkActive="active">HOME</a></li>
      <li><a class="menu-item" routerLink="/works" routerLinkActive="active">WORKS</a></li>
      <li><a class="menu-item" routerLink="/biography" routerLinkActive="active">BIOGRAPHY</a></li>
      <li><a class="menu-item" routerLink="/contacts" routerLinkActive="active">CONTACTS</a></li>
    </ul>
  </div>
</div>