<div class="header">
  <h2>GIORDANO</h2>
  <h1 class="logo">GIUSEPPINA</h1>

  <div class="menu">
    <ul>
      <li><a class="menu-item" routerLink="/news" routerLinkActive="active">NEWS</a></li>
      <li><a class="menu-item" routerLink="/works" routerLinkActive="active">WORKS</a></li>
      <li><a class="menu-item" routerLink="/biography" routerLinkActive="active">BIOGRAPHY</a></li>
      <li><a class="menu-item" routerLink="/contacts" routerLinkActive="active">CONTACTS</a></li>
    </ul>
  </div>
</div>