.post-excerpt {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 50px;
}

.caption {
    background-color: darkgray;
    height: 35px;
    line-height: 35px;
    text-align: left;
    padding: 0 15px;
}

.lastPost {
    margin-bottom: 500px;
}