/* You can add global styles to this file, and also import other style files */
html {
    background-color: #F8F8F8; 
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

.page-content {
    margin-top: 20px;
}